# Ignore SQLite database
db.sqlite3

# Ignore media/uploads
/media/
/media/*

# But keep the .gitkeep file
!/media/.gitkeep

# Ignore Django migration history
**/migrations/*.pyc
**/migrations/__pycache__/
/**/migrations/*.py

# Ignore __pycache__ folders
__pycache__/
/**/__pycache__/

# Ignore environment files (optional)
.env
*.env

# Ignore VSCode or PyCharm project settings (optional)
.vscode/
.idea/

# Ignore compiled files
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
