<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}    {% endblock %}</title>

     <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .container {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }
    .main {
      flex: 3;
      margin-right: 20px;
    }
    .sidebar {
      flex: 1;
    }
    a {
      text-decoration: none;
    }
  </style>
</head>
<body>

<nav>
    <a href="{% url 'blog_index' %}">Home</a> |
    <a href="{% url 'about' %}">About</a> |
    <a href="{% url 'contact' %}">Contact</a>

    <form method="get" action="{% url 'blog_index' %}">
        <input type="text" name="q" placeholder="🔍 Search..." value="{{ request.GET.q }}">
        <button type="submit">Search</button>

    </form>
</nav>

<hr>


<div>
    {% for message in messages %}
        <div class="alter alter-success">{{ message }}</div>
    {% endfor %}
</div>

<hr>

<div class="container">

    <div class="main">
      {% block content %}
      {% endblock %}
    </div>




    <div class="sidebar">
      {% load blog_tags %}
      {% show_categories %}
    </div>

</div>



</body>
</html>