<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}    {% endblock %}</title>

     <style>
    body { font-family: Arial, sans-serif; max-width: 800px; margin: auto; padding: 20px; }
    nav a { margin: 0 10px; text-decoration: none; color: blue; }
    nav a:hover { text-decoration: underline; }
  </style>
</head>
<body>
<nav>
  <a href="{% url 'blog_index' %}">Home</a>
    <form method="get" action="{% url 'blog_index' %}" style="margin-top: 1rem;">
        <input type="text" name="q" placeholder="🔍 Search..." value="{{ request.GET.q }}">
        <button type="submit">Search</button>

    </form>
</nav>

<hr>

{% load blog_tags %}

{% show_categories %}

{% block content %}
<!-- Content goes here -->
{% endblock %}



</body>
</html>