{% extends "blog/base.html" %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}

<article>
  <h1>{{ post.title }}</h1>
  <p><small>{{post.created_date}}</small></p>

    {% if post.category %}
    <p>Category: <a href="{% url 'category_posts' slug=post.category.slug %}">{{ post.category.name }}</a></p>
    {% endif %}

  {% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto;">
  {% endif %}

    <div>{{ post.content| linebreaks }}</div>
</article>

<p><a href="{% url 'blog_index' %}">Back to all posts</a></p>

{% endblock %}